/*COMMON*/

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf');
}
ul {
    list-style: none outside none;
}
a {
    color: #217fbe;
    outline: medium none;
    text-decoration: none;
}
p {
    line-height: 1.5;
}
body {
    background-color: #2e3740;
    width: 100%;
    font-family: sans-serif, Arial, Helvetica;
}

address {
    color: #b2c0ca;
    font-size: 11px;
    padding-bottom: 160px;
    text-align: center;
    font-style: normal
}
h1, h2, h3, h4, h5, h6, p, li, dt, dd, pre, blockquote, ul, ol, dl, dd, form {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 13px;
    line-height: 1.5;
}
a {
    color: #217fbe;
    outline: medium none;
    text-decoration: none;
}
a:hover, a:focus{
    text-decoration: none;
}
img {
    border: medium none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}





#header {
    /*height: 92px;*/
    width: 100%;
}
#header .contents {
    margin: 0 auto;
    position: relative;
    width: 980px;
}
.contents {
    color: #666;
    width: 100%;
}


#header .contents .logo {
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}
#header .contents .login {
    position: absolute;
    right: 0;
    top: 25px;
}
.main .social_login .form .btn_wait {
	float: left;
	width: 110px;
	height: 50px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #999;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
#header .contents .login a {
    border: 2px solid white;
    color: white;
    display: block;
    height: 36px;
    line-height: 35px;
    text-align: center;
    width: 150px;
    border-color: white;
}
#header .contents .login a:hover {
    background-color: white;
    color: #FF6868;
    font-weight: bolder;
}
#header .contents .header_social {
    left: 0;
    position: absolute;
    top: 40px;
}



.contact ul {
	margin-bottom: 0px !important;
}
.slide_mask .slide_wrap .slide_cols .cols.more a img {
	position: absolute;
	top: 35px;
	left: 50px;
}

.slide_mask .slide_wrap .slide_cols .cols.more {
    display: block;
    height: 198px;
    line-height: 198px;
    position: relative;
    text-align: center;
    width: 198px;
}

.slide_mask .slide_wrap .slide_cols .cols.more a {
    display: block;
    height: 198px;
    text-align: center;
    width: 198px;
}

.slide_mask .slide_wrap .slide_cols .cols.more a p {
    color: #666;
    font-size: 16px;
    left: 62px;
    position: absolute;
    top: 150px;
}

.main {
    background: url("../img/main_page/bg.png") no-repeat scroll center top #fafafa;
    border-top: 1px solid;
    height: 800px;
    position: relative;
}
.main .social_login {
	background: url("../img/main_page/bg_created.png") no-repeat scroll center bottom #fafafa;
    color: #666;
    /*height: 390px;*/
    margin: 0 auto;
    margin-top: 550px;
    max-height: 300px;
    /*position: relative;*/
    /*width: 790px;*/
}
.main .social_login h2 strong {
    color: #FF6868;
    font-size: 24px;
    font-weight: normal;
    height: 70px;
    padding: 20px 0 20px;
}
.main .social_login h1 {
    text-align: center;
}
.main .social_login h1 strong {
    font-weight: normal;
    text-align: center;
    color: #F7F7F7;
}
.main .social_login hr {
    text-align: center;
    width: 90px;
    border: 0;
    border-top: 2px solid #FE6869;
}
.main .social_login h1 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    padding: 25px 0 10px;
    color: #FF6868;
}

.main .social_login .form {
    margin: 0 auto;
    position: relative;
    width: 800px;
}

.main .social_login h2 {
    /*color: #999;*/
    color: #F7F7F7;
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0 20px;
    text-align: center;
}
.main .social_login .form .email, .main .social_login .form .password {
    float: left;
    height: 50px;
    margin-right: 6px;
    position: relative;
    width: 210px;
    padding-top: 20px;
}

.main .social_login .form input {
    background-color: #fff;
    border-color: #aaa #ccc #ccc;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-size: 18px;
    height: 50px;
    line-height: 28px;
    padding: 10px;
    width: 205px;
}
.main .social_login .form .btn_submit:hover {
    background-position: center bottom;
}

.main .social_login .form .btn_facebook a:hover {
    background-position: center bottom;
}
.main .social_login .form .btn_submit {
    background: url("../img/main_page/btn_pink_110_50.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    color: #fff;
    float: left;
    /*font-size: 16px;*/
    font-size: 12px;
    height: 50px;
    width: 110px;
}
button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    margin: 0;
    outline: medium none;
    padding: 0;
}
.main .social_login .form .text {
	background: url("../img/main_page/btn_or.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    color: #999;
    float: left;
    /*font-size: 14px;*/
    font-size: 12px;
    line-height: 50px;
    padding-left: 10px;
}
.main .social_login .form .btn_facebook {
    float: right;
}
.main .social_login .form .btn_facebook a {
    background: url("../img/main_page/btn_fb_196_50.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #fff;
    display: block;
    /*font-size: 16px;*/
    font-size: 12px;
    /*height: 50px;*/
    height: 90px;
    /*line-height: 50px;*/
    line-height: 90px;
    text-align: center;
    width: 215px;
    /*padding-left: 20px;*/
    padding-left: 40px;
}
.main .social_login .form .facebook_help .box {
    clear: both;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 126px;
}

.main .social_login .form .facebook_help .box .left {
    color: #999;
    float: left;
    font-size: 10px;
    padding-right: 1px;
    padding-top: 5px;
    position: relative;
}
.main .social_login .form .facebook_help .box .right {
    float: left;
    font-size: 10px;
}
.main .social_login .form .facebook_help .box .right img {
    padding-top: 3px;
}
.main .social_login .store_num {
    position: absolute;
    right: -88px;
    top: 342px;
}
.main .pv {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 160px;
    width: 168px;
}

.main .pv a {
    background: url("../img/main_page/btn_play.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    line-height: 2em;
    overflow: hidden;
    padding-top: 168px;
    width: 168px;
}
.main .pv a:hover {
    background-position: 0 -168px;
}
#stores {
    background-color: #f6f6f6;
    border-top: 1px solid #e7e7e7;
    padding: 13px 0 45px;
}
.contents {
    color: #666;
    width: 100%;
}
#stores .heading {
    background: url("../img/main_page/icon_heading_stores_gray.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    color: #666;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0.08em;
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
h3.heading {
    font-size: 17px;
    margin-bottom: 20px;
    padding-left: 10px;
}

#stores .slide {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
#stores .wrapper {
    position: relative;
    padding-top: 30px;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
}

#stores .slide_mask {
    height: 510px;
    width: 100%;
}
.slide_mask {
    overflow: hidden;
    position: relative;
}
#stores .slide_mask .slide_cols {
    width: 100%;
}
.slide_mask .slide_wrap .slide_cols {
    position: absolute;
}
.col4 {
    overflow: hidden;
    padding: 0px
}
.col4 .cols {
    margin: 2px;
    width: 332px;
    height: 230px;
    overflow: hidden;
}
.cols {
    float: left;
    margin: 0 10px;
}
.modal_footer {
    margin: 40px auto;
    text-align: center;
    width: 100%;
}
.modal_page > li {
    display: inline;
    padding: 10px;
}


.medias {
    background-color: #fff;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;
}



#header .contents #btn_menu {
    display: none;
}
#header #mobile_nav {
	display: none;
}



.sp_category_more {
	display: none;
}

#panel_error {
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    border-radius: 3px;
    left: 50%;
    margin-left: -266px;
    padding: 10px 15px 8px;
    position: absolute;
    /*top: 212px;*/
    top: 670px;
    width: 503px;
    z-index: 10;
}

#panel_error .close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
#panel_error p {
    color: #d90000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;
    margin: 0px;
}
#panel_error .close img {
    height: auto;
    width: 10px;
}
#panel_error .close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
#panel_label_introduce {
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 10;
    text-align: center;
}

#panel_label_introduce h2 strong{
    text-align: center;
    font-size: 24px;
    font-weight: normal;
}

#panel_label_introduce p{
    text-align: center;
    font-size: 44px;
    color: #FF6868;
    font-family: Pacifico;
}



#alert_panel.success {
    background-color: #217fbe;
    color: #fff;
}
#alert_panel.fail {
    background-color: #FF9966;
    color: #FF0033;
}
#alert_panel {
    display: none;
    height: 60px;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: -10px;
    width: 100%;
    z-index: 100;
}

#alert_panel p {
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
}


#home_sign{
	display: block;
	margin: 0 auto;
	width: 960px;
	height: 90px;
	padding: 20px;
	background-color: rgba(255,255,255,0.2);
	position: relative;
}

#home_sign div{
    display: inline-block;
}

#home_sign .home_email input{
	width: 260px;
    height: 50px;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.2) !important;
    color: #F7F7F7;
    padding-left:5px;
    font-size: 14px;
}

#home_sign .home_email input:focus{
    outline: 0;
}

#home_sign .home_password, #home_sign .home_submit{
    padding-left:10px;
}

#home_sign .home_password input{
	width: 260px;
    height: 50px;
    border: 2px solid white;
    background-color: rgba(255,255,255,0.2) !important;
    color: white;
    padding-left:5px;
    font-size: 14px;
}

#home_sign .home_password input:focus{
    outline: 0;
}

#home_sign .home_submit button{
	background: url("../img/main_page/btn_pink_110_50.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    height: 50px;
    background-color: rgba(255,255,255,0.2) !important;
    color: white;
    padding:10px;
    width: 125px;
}

#home_sign .home_btn_facebook{
	top: 0;
	right: 0;
	position: absolute;
}
#home_sign .home_btn_facebook .home_btn_facebook_inner{
    height: 90px;
    width: 230px;
    padding: 38px 20px 32px 35px;
    text-align: right;
    font-size: 0.9em;
    background: url("../img/main_page/btn_fb_196_50.png") no-repeat scroll center top #3B5999;
}

/*
#home_sign .home_btn_facebook .home_btn_facebook_inner:hover, #home_sign .home_btn_facebook .home_btn_facebook_inner:focus{
    background-color: rgba(59,89,153,0.7);
    cursor: pointer;
}
*/

#home_sign .home_btn_facebook a{
    color: white;
}
#home_sign .home_or{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 3;
    padding-top: 15px;
    font-weight: bold;
    text-align: center;
    margin-left: 12px;
}
#home_sign .home_submit p{
    height: 50px;
    background-color: rgba(255,255,255,0.2) !important;
    color: white;
    padding:10px;
    text-align: center;
}
.wapper_heading{
    display: block;
    height: 150px;
    text-align: center;
}
.wapper_heading .wapper_heading_label{
	background: url("../img/main_page/icon_heading_stores_gray.png") no-repeat scroll center top;
	height: 90px;
    padding: 41px;
    font-weight: bolder;
    color: #37342F;
    font-size: 20px;
}
.wapper_heading .wapper_heading_label_under{
    font-style: italic;
    font-size: 20px;
    color: #37332e;
}
.wapper_heading .wapper_heading_label_under span{
    color: #FF6769;
}





/* HEADER */


/* CONTENT */


/* FOOTER */

#footer_copy {
    background-color: #485664;
    clear: both;
    color: #b2c0ca;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#footer #foot_navi_main {
    background: url("/img/main_page/bg_footer_nav.png") repeat-x bottom #2e3740;
    color: #2e3740;
    list-style-type: none;
    padding: 35px 0;
    width: 980px;
    margin: 0 auto;
}

#footer #foot_navi_main li {
    display: inline-block;
    font-size: 13px;
    letter-spacing: normal;
    margin: 0 10px;
    vertical-align: middle;
    word-spacing: normal;
}

#footer #foot_navi_main li a {
    color: #fff;
    display: block;
    padding-left: 13px;
    white-space: nowrap;
}
#footer #foot_navi {
    font-size: 0;
    letter-spacing: -0.4em;
    list-style-type: none;
    padding: 40px 0;
    text-align: center;
    word-spacing: -0.4em;
    margin: 0 auto;
    width: 980px;
    float: right;
}
#footer #foot_navi_main li a.login {
    border: 1px solid #d3d3d3;
    color: #FF6868;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    width: 150px;
    border-color: #5ED9E8;
}
#footer #foot_navi li {
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    margin: 0 10px;
    vertical-align: middle;
    word-spacing: normal;
}

#footer #foot_navi li a {
    color: #b2c0ca;
    display: block;
}

#footer #social {
    height: 20px;
    margin: 0 auto 30px;
    overflow: hidden;
    position: relative;
    width: 240px;
}

#footer .footer_separator{
    background: url("../img/main_page/ic_footer_colorful-separator.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    background-size: 100%;
    padding-bottom: 0px;
    height: 2px;
}

#footer .footer_upper{
    background-color: #37342F;
    width: 100%;
    margin: 0 auto;
}

#footer .footer_upper .footer_upper_wrap{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 120px;
}

#footer .footer_upper .footer_upper_left{
    display: inline-block;
    float: left;
}

#footer .footer_upper .footer_upper_left ul{
    padding-left: 0px;
}
#footer .footer_upper .footer_upper_left ul li{
    display: inline-block;
}

#footer .footer_upper .footer_upper_left ul li a{
    color: #FFFEFF;
    font-size: 11px;
}
#footer .footer_upper .footer_upper_left ul li a:hover{
    color: #CB5757;
}

#footer .footer_upper .footer_upper_left ul span{
    color: #4e473f;
}

#footer .footer_upper .footer_upper_right{
    display: inline-block;
    float: right;
}

#footer .footer_upper .footer_upper_right a{
    color: white;
    font-size: 12px;
    border: 2px solid white;
    display: block;
    width: 150px;
    height: 36px;
    text-align: center;
    line-height: 35px;
}
#footer .footer_upper .footer_upper_right a:hover{
    background-color: white;
    color:#FF6868;
    font-weight: bolder;
}
#footer .footer_under{
    clear: both;
    width: 100%;
    background-color: #2C2825;
    font-size: 14px;
}

#footer .footer_under .footer_under_wrap{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 90px;
    padding-top: 40px;
    color: #FFFFFF;
    position: relative;
    font-size: 11px;
}

#footer .footer_under .foot_navi_company{
    display: inline-block;
    float: left;
}

#footer .footer_under .foot_navi_company span{
    color: #CB5757;
}

#footer .footer_under .foot_navi_company_info{
    display: inline-block;
    float: right;
}

#footer .footer_under .foot_navi_company_info ul li{
    display: inline-block;
}

#footer .footer_under .foot_navi_company_info ul li a {
    color: #FFFFFF;
    font-size: 11px;
}
#footer .footer_under .foot_navi_company_info ul li a:hover{
    color: #CB5757;
}
#footer .footer_under .foot_navi_company_info span{
    color: #4e473f;
}

#footer .footer_under .footer_under_wrap .footer_back_top{
    position: absolute;
    top: -25px;
    right: 0;
}


#footer .parentBoxInner{
    background-color: #37332E;
    height: 200px;
}
#footer .boxInner{
    position: relative;
    width: 980px;
    height: 150px;
    margin: auto;
    padding: 24px 0 20px;
}
#footer .boxInner .clearfix {
    min-height: 1px;
    clear: both;
    display: block;
}
#footer .boxInner .leftCol {
	color: red;
    width: 568px;
    float: left;
}
#footer #footer_navi_main{
    color: #2e3740;
    list-style-type: none;
    padding: 35px 0;
    /*width: 980px;*/
    margin: 0 auto;
}
#footer #footer_navi_main li{
    display: inline-block;
    font-size: 13px;
    letter-spacing: normal;
    margin: 0 10px;
    vertical-align: middle;
    word-spacing: normal;
}
#footer #footer_navi_main li a{
    color: #fff;
}
#footer .boxInner .rightColLogin {
    color: red;
    width: 400px;
    float: right;
}
#footer .footer_navi_main_login{
    float: right;
    padding: 35px 0;
    margin: 0 auto;
}
#footer .footer_navi_main_login li a{
    border: 1px solid #d3d3d3;
    color: #FF6868;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    width: 150px;
    border-color: #5ED9E8;
}
#footer .boxBackTop{
    color: red;
    width: 980px;
    margin: auto;
    padding: 24px 0 20px;
}
#footer .boxBackTop .bntBackTop{
    color: red;
    margin: auto;
    float: right;
}

#footer .boxBackTop .hrefBackTop{
    background: url("../img/main_page/icon_back_top.png") no-repeat scroll center top;
    color: red;
    margin: auto;
    float: right;
    display: block;
    width: 72px;
    height: 40px;
    padding-top: 22px;
    padding-bottom: 8px;
}
#footer .boxCompanyInfor{
	background-color: #2B2824;
	color: red;
    position: relative;
    width: 980px;
    margin: auto;
    /*padding: 24px 0 20px;*/
}



/*CONTACT*/

.contact {
    bottom: 0;
    box-shadow: -2px -2px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1;
    width: 300px;
    height: 200px;
    display: none;
}

.contact .heading_contact {
    background-color: #37342F;
    color: #fff;
    font-size: 14px;
    text-align: left;
}


.contact .heading_contact .text_support{
    padding: 10px;
    display: inline-block;
}

.contact .heading_contact .img_close{
    float: right;
    background-color: #5FDAEA;
}

.contact ul {
    background: url("../img/main_page/img_box_mail_contact.png") no-repeat scroll center center #fff;
    background-color: #fafafa;
    padding: 55px 15px;
}

.contact ul li.mail a {
    color: #465666;
    display: block;
    height: 56px;
    position: relative;
    width: 240px;
}

.contact ul li.mail a p {
    font-size: 16px;
    left: 50px;
    position: absolute;
    top: 70px;
}

.contact ul li.mail a p {
    font-size: 18px;
    font-weight: bold;
    /*left: 58px;*/
}